keras==2.12.0
Keras-Applications
keras-vggface
matplotlib==3.8.2
mtcnn==0.1.1
numpy==1.26.2
oauthlib==3.2.2
opencv-python==4.8.1.78
Pillow==10.1.0
requests==2.31.0
requests-oauthlib==1.3.1
scipy==1.11.4
tensorflow
urllib3==2.1.0